= form_with url: create_post_dashboard_index_path do |f|
  = f.text_field :caption, class: "form-control", id: "caption", placeholder: "Share something..."
  = f.file_field :image, class: "form-control", id: "caption"
  = f.submit :Post, class: "btn btn-success"