= form_with url: create_post_dashboard_index_path do |f|
  = f.text_area :caption, class: "text-area", id: "caption", placeholder: "Share something..."
  .form-bottom-button-container
    .d-flex
      .p-2.flex-grow-1
        = f.file_field :image, class: "form-control", id: "image-file"
      .p-2
        = f.submit :Post, class: "btn btn-maroon", id: "create-post-button", disabled: true