.post-like
  - if liker(post)
    = button_to post_like_path(post, liker(post), post_index: post_index), method: :delete, remote: true, class: "btn btn-maroon btn-wide btn-like-comment unlike-post" do
      %i.far.fa-thumbs-up
      Unlike
  - else
    = button_to post_likes_path(post, post_index: post_index), method: :post, remote: true, class: "btn btn-plain btn-wide btn-like-comment like-post" do
      %i.far.fa-thumbs-up
      Like