:plain
  $("#like-unlike-#{session[:index]}").find(".post-like").replaceWith("#{escape_javascript( render partial: "likes/like", locals: { post: @post, index: session[:index] })}");
  $("#post-#{session[:index]}-like-count").find(".post-like-content").replaceWith("#{escape_javascript( render partial: "likes/like_count", locals: { post: @post, index: session[:index] })}");