html {
  min-height: 100vh;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background: #DDD;
}

.container-margin-top {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}