.username-bold {
  color: #800000;
  font-size: 1.2rem;
  font-weight: bold;
}

.distance-date {
  color: #333;
  font-size: small;
}

.post-text {
  padding: 10px 20px;
}

.caption{
  font-size: 1rem;
  color: #000;
  margin-top: 10px;
}

.text-maroon {
  color: #800000;
}

.text-space {
  margin: 0 5px;
}