:plain
  $("#new-event-modal").find(".modal-content").html("#{escape_javascript(render 'form')}");
  $("#new-event-modal").find(".form-modal-title").attr("id", "new-event-title");
  $("#new-event-title").html("New Event");
  $("#start_datepicker, #end_datepicker").flatpickr({
    enableTime: true,
    dateFormat: "D, d M Y H:i",
    minDate: new Date().fp_incr(1)
  });
