default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV["POSTGRES_USER"] %>
  password: <%= ENV["POSTGRES_PASSWORD"] %>
  host: localhost
  port: 5432

development:
  <<: *default
  database: rails_project_dev

test:
  <<: *default
  database: rails_project_test

production:
  <<: *default
  detabase: rails_project_prod
