.home-bg {
  background-image: url("/space-rocket.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home-text-display {
  width: 80%;
  color: #FFF;
  font-size: 2.4rem;
  font-weight: 500;
  margin-left: 50px;

  @include mq(max, 1500px) {
    margin-left: auto;
  }

  @include mq(xl) {
    margin-right: auto;
    width: 85%;
  }

  @include mq(lg) {
    width: 96%;
  }

  @include mq(xs) {
    font-size: 2rem;
  }

  @include mq(xxs) {
    font-size: 1.5rem;
  }

  br {
    display: none;

    @include mq(min-max, 768px, 992px) {
      display: block;
    }
  }
}

.user-form-container {
  width: 300px;
  color: #FFF;
  background-color: #800000;
  padding: 20px;
  border-radius: 10px;

  @include mq(xxs) {
    width: 280px;
  }
}

.user-form-title {
  text-align: center;
  color: #FFF;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.full-height-container {
  min-height: 100vh;
}

.hidden {
  display: none;
}