.profile-body {
  margin-top: 20px;
}

.profile-full-name {
  color: #800000;
  font-size: 2rem;
  font-weight: bold;
}

.profile-username {
  font-size: 1.4rem;
  font-weight: bold;
}

.profile-container {
  margin-bottom: 20px;
}

.profile-stats {
  margin-bottom: 10px;
}

.edit-profile-form-container {
  margin-top: 20px;
  width: 600px;
  color: #FFF;
  background-color: #800000;
  padding: 20px;
  border-radius: 10px;
}

.no-post-text {
  color: #333;
  font-weight: 600;
  text-align: center;
}

.img-profile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.img-thumb {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.post-user-image {
  margin-right: 12px;
}

.profile-buttons {
  display: inline-block;

  .follow-user-button {
    display: inline-block;
  }
}