.img-search {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.img-container {
  margin-right: 16px;
}

.search-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.search-username {
  font-size: 1rem;
}

.search-result-card {
  height: auto;
  width: 400px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 12px;
  margin-right: 12px;
}