.bg-white
  .center-all-items
    .error-code 500
    .error-message Internal Server Error
    = image_tag '/rocket.gif', class: "img img-fluid img-error"
    = link_to 'Go Back to News Feed', posts_path