.bg-white
  .center-all-items
    .error-code 422
    .error-message Unable to Process Request
    = image_tag '/rocket.gif', class: "img img-fluid img-error"
    = link_to 'Go Back to News Feed', posts_path