.btn-maroon {
  background-color: #800000;
  color: #fff;
  &:hover {
    background-color: #a80000;
    color: #fff;
  }
}

.btn-wide {
  width: 100%;
}

.btn-plain {
  border: 1px solid #999;
}

.btn-like-comment {
  font-weight: 600;
}

.btn-outline {
  border: 1px #000 solid;
  &:hover {
    border: 1px #000 solid;
  }
}