#relationships-modal {
  .modal-header {
    border-bottom: none;

    h5 {
      width: 100%;
      font-size: 1rem;

      .active {
        color: #800000;
        font-weight: 600;
      }
    }
  }
}

.nav-tabs {
  .nav-link {
    color: #495057;
  }
}
